
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fascinate&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yarndings+20&display=swap');

/* Širina scrollbara */
::-webkit-scrollbar {
  width: 10px;              /* vertikalni */
  height: 10px;             /* horizontalni */
}

/* Pozadina trake (deo iza thumb-a) */
::-webkit-scrollbar-track {
  
  border-radius: 10px;
}

/* Deo koji se pomera (thumb) */
::-webkit-scrollbar-thumb {
  background-color: #2786e5;
  border-radius: 10px;
  border: 2px solid #fff; /* daje “razmak” između thumb-a i trake */
}

/* Kada se hoveruje */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.ProseMirror {
  max-width: 100%;
  width: 100%;
    white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  overflow-x: hidden;
  
}
.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  color: #7aa3e8; /* siva, možeš promeniti po želji */
  float: left;
  height: 0;
  pointer-events: none;
  font-style: italic;
  opacity: 0.6;
}

.selectFontDDL option{
    border: none;
    outline: none;
}
.selectFontDDL{
  outline: none;
}